<div class="fixed-bottom" style="background-color: rgb(245, 245, 245)">
    <footer class="page-footer font-small  pt-4">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2021 Copyright:
          <a href="https://www.ieeecasvit.com">IEEE CAS, VIT Vellore</a>
        </div>
        <!-- Copyright -->
      
      </footer>
</div>
  
</body>
</html>