<%- include("header")-%>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">This test is not available now!</h1>
            <p class="lead">The given test has not been made available yet. Login at said time to view test.</p>
            <hr class="my-4">
            </p>
          </div>
    </div>
    
</body>
<%- include("footer")-%>
