<%- include("header") -%>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Tests</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="/test">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/test/domain">Recruitment Test</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/test/invalid">Hardware Domain</a>
                </li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0 user-data">
                <i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Hello, <%= pass %>
            </form>
            </div>
        </nav>
        <div class="container container1">
            <ul>
                <!-- <li><a href="/test/invalid" class=<%= link %>>✏︁ Link to Hardware Domain Tests.</a><sup class="blinking">NEW</sup></li> -->
                <li><a href=/test/domain>✏︁ Link to Recruitment Test (2022-23) </a><sup class="blinking">NEW</sup></li>
                <li> ✏︁ Test completed on <b>24/02/2022</b> at <b>08:00pm</b></li>
                <li> ✏︁ Test scheduled for <b>25/02/2022</b> at <b>08:00pm</b></li>
                <li> ✏︁ Test also scheduled for <b>26/02/2022</b> at <b>06:00pm</b></li>
            </ul>
        </div>
        <%- include("footer") -%>
